/.git
/node_modules
/lib
/builds

/*Versions.json
/*Versions.jsonl

.DS_Store

/.idea

*.env*

src/deployments/**/development.json
src/deployments/**/development.ts
src/deployments/**/*.wasm
src/deployments/**/*.contract