/node_modules
/lib
/builds

/**Versions.json
/**Versions.jsonl

.DS_Store

# IDE files
/.idea

# Environment files
*.env*
!.env*.example

# Local deployments
src/deployments/**/development.json
src/deployments/**/development.ts
src/deployments/**/*.wasm
src/deployments/**/*.contract